<section class="footer__section">
    <div class="footer__infos">
    <div class="footer__details">
    <h4 class="footer__section__title">Call Us on</h4>
    <div class="details">
        <div class="details__item">
            <a href="tel:+2200002222">Phone: +220 000 2222</a>
        </div>
       
    </div>
    </div>
    <div class="footer__details">
        <h4 class="footer__section__title">Follow Us</h4>
        <ul>
            <li><a href="https://www.instagram.com/hustlestar_clothing?igsh=bXduNDlhOHczb3Ry&utm_source=qr" target="_blank"><i
                        class='bx bxl-instagram'></i></a></li>
            <li><a href="https://www.tiktok.com/@hustlestarclothing?_t=ZM-8tRV5OJgvQr&_r=1" target="_blank"><i
                        class='bx bxl-tiktok'></i></a></li>
        </ul>
    </div>
    <div class="footer__details">
        <h4 class="footer__section__title">Email Us On</h4>
        <a href="https://mail.google.com/mail/?view=cm&to=example@gmail.com
                                    target=" _blank">example@gmail.con.com</a>
    </div>
    
    <!-- <div class="footer__details">
        <p>&copy; 2025 Huslestar Clothing. All rights reserved.</p>
    </div> -->
    </div>
    <p class="copyright">&copy; 2025 arena trade hub logistics & supply All rights reserved.</p>

</section>