<section class="items__section" id="products">
  <div class="items__section-inner container">
    <span class="items__section-title"> 
        Shop our top products
     </span>
     <div class="items__section-grid">
        <!-- Box 1 -->
        <div class="product-box">
            <img src="/ArenaTadeHubLogisticsSupply/assets/images/rice.jpeg" alt="" class="product-img">
            <!-- {{ '/assets/images/your-image.jpg' | relative_url }} -->
            <div>        
            <h6 class="product-title">
                50kg
                <br>
                Rice
            </h6>
            <span class="price">GMD2500</span>
            <i class="bx bx-shopping-bag add-cart" data-id="item-1"></i>
            </div>
        </div>
        
        <!-- Box 1 -->
        <div class="product-box">
            <img src="/ArenaTadeHubLogisticsSupply/assets/images/oil2.jpeg" alt="images product" class="product-img">
            <div>
            <h6 class="product-title">
                5litr
                <br>
                Cooking Oil
            </h6>
            <span class="price">GMD2500</span>
            <i class="bx bx-shopping-bag add-cart" data-id="item-2"></i>
            </div>
        </div>
        <!-- Box 1 -->
        <div class="product-box">
            <img src="/ArenaTadeHubLogisticsSupply/assets/images/palm-oil.jpeg" alt="" class="product-img">
            <div>
            <h6 class="product-title">
                1litr
                <br>
                Palm Oil
            </h6>
            <span class="price">GMD2500</span>
            <i class="bx bx-shopping-bag add-cart" data-id="item-3"></i>
            </div>
        </div>
        <!-- Box 1 -->
        <div class="product-box">
            <img src="/ArenaTadeHubLogisticsSupply/assets/images/onion-bag.jpeg" alt="" class="product-img">
            <div>            
            <h6 class="product-title">
                50kg
                <br>
                Onion
            </h6>
            <span class="price">GMD2500</span>
            <i class="bx bx-shopping-bag add-cart" data-id="item-4"></i>
            </div>

        </div>
        <!-- Box 1 -->
        <div class="product-box">
            <img src="/ArenaTadeHubLogisticsSupply/assets/images/potatoes-min.webp" alt="" class="product-img">
            <div>
            <h6 class="product-title">
                25kg
                <br>
                Potatoes
            </h6>
            <span class="price">GMD2500</span>
            <i class="bx bx-shopping-bag add-cart" data-id="item-5"></i>
            </div>
        </div>
        <!-- Box 1 -->
        <div class="product-box">
            <img src="/ArenaTadeHubLogisticsSupply/assets/images/vinaigre.jpeg" alt="" class="product-img">
            <div>            
            <h6 class="product-title">
                1litr
                <br>
                Vinaigre
            </h6>
            <span class="price">GMD2500</span>
            <i class="bx bx-shopping-bag add-cart" data-id="item-6"></i>
            </div>
        </div>
     </div>
  </div>
</section>
