<section class="header">
    <div class="header__left">
        <div class="tell-mail">
        <i class='bx bxs-phone-call'></i>
        <a href="tel:+2200002222">Phone: +220 000 2222</a>
        </div>
        <div class="tell-mail">
        <i class='bx bx-envelope'></i>
        <a href="https://mail.google.com/mail/?view=cm&to=example@gmail.com
                            target=" _blank">sales@arenatradehub.gm</a>
        </div>
    </div>
    <div class="header__right">
        <i class='bx bxl-facebook-square'></i>
        <i class='bx bxl-instagram-alt'></i>
        <i class='bx bxl-youtube'></i>
        <i class='bx bxl-tiktok'></i>
    </div>
</section>