<section class="partners" id="partners">
  <div class="partners__details container">
    <span class="partners__section-title"> Our partners </span>
    <div class="partners__details-grid">
      <div class="partners__details-item">
        <div>
        <h5 class="partners__details-item-title">Afro flavor</h5>
        <h6 class="partners__details-item-service">Catering service</h6>
        </div>
        <div>
            <img src="/ArenaTadeHubLogisticsSupply/assets/images/catering.jpeg" alt="">
            <p class="partners__details-item-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam asperiores dolorum optio officia maxime doloribus illo quidem reprehenderit labore, id quo dolores ea voluptas.</p>
        </div>
        <div>
            <h6 class="partners__details-item-cont">contact us</h6>
            <a href="tel:+2200007777">Phone: +220 000 7777</a>
            <br>
            <a href="https://mail.google.com/mail/?view=cm&to=sample@gmail.com" target="_blank">sample@gmail.com</a>
        </div>
      </div>
     <!--  -->
    <div class="partners__details-item">
        <div>
            <h5 class="partners__details-item-title">Afro flavor</h5>
            <h6 class="partners__details-item-service">General Good</h6>
        </div>
        <div>
            <img src="/ArenaTadeHubLogisticsSupply/assets/images/general-goods.jpeg" alt="">
            <p class="partners__details-item-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam
                asperiores dolorum optio officia maxime doloribus illo quidem reprehenderit labore, id quo dolores ea
                voluptas.</p>
        </div>
        <div>
            <h6 class="partners__details-item-cont">contact us</h6>
            <a href="tel:+2200007777">Phone: +220 000 7777</a>
            <br>
            <a href="https://mail.google.com/mail/?view=cm&to=sample@gmail.com" target="_blank">sample@gmail.com</a>
        </div>
    </div>
    </div>
  </div>
</section>
