<section class="details container">
  <div class="details__grid">
    <div class="details__grid-item">
      <img src="/ArenaTadeHubLogisticsSupply/assets/images/guarantee.png" alt="" />
      <h6 class="title">Quaranteed Quality</h6>
      <hr />
      <p class="paragraph">
        We ensure that every product meet high-quality standards, giving you
        fresh and safe food every time
      </p>
    </div>
    <div class="details__grid-item">
      <img src="/ArenaTadeHubLogisticsSupply/assets/images/delivery-man (1).png" alt="" />
      <h6 class="title">Fast & Afordable Delivery</h6>
      <hr />
      <p class="paragraph">
        Get your order delivered quickly to your doorstep. free delivery for
        orders above D10,000
      </p>
    </div>
    <div class="details__grid-item">
      <img src="/ArenaTadeHubLogisticsSupply/assets/images/phone-call.png" alt="" />
      <h6 class="title">24/7 Customer Support</h6>
      <hr />
      <p class="paragraph">
        Have a questions or need assistance? call or whatsApp us at +220 000
        0000 for instant support
      </p>
    </div>
  </div>
</section>
